* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: LibreBaskerville, sans-serif;
}

/* NavBar & Part 1 */

.part-1 {
    width: 100%;
    height: 800px;
    padding: 18.5px 110px 106px 130px;
    background-image: linear-gradient(to bottom, #f1fefe, rgba(241, 254, 254, 0));
}

nav {
    padding-bottom: 120px;
}

ul {
    float: right;

}

li {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.31;
    color: #374b5c;
    padding-left: 50px;
    padding-top: 18px;
}

.active:hover {
    border-bottom-style: solid;
    padding-bottom: 10px;
    border-color: #00dbd0;
    transition: 0.2s;
}

.contact-li {
    padding: 12px 35px 12px 35px;
    border: solid;
    border-radius: 10px;
    border-color: #00dbd0;
}

.iconHeading {
    font-size: 42px;
    font-weight: 700;
    vertical-align: top;
    line-height: 1.7;
    color: #374b5c;
    padding-left: 10px;
}

.content-part-1 {
    display: flex;
}

.right-part-1 {
    display: flex;
    flex-direction: column;

}

.heading {
    font-size: 36px;
    color: #374b5c;
    font-weight: normal;
    padding-bottom: 5px;
}

.large-heading {
    font-size: 56px;
    color: #374b5c;
    font-weight: bold;
    padding-bottom: 35px;
}

.desc {
    font-size: 20px;
    color: #374b5c;
    max-width: 75%;
    margin-bottom: 50px;
}

.btn1 {
    background-color: #00dbd0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    width: 220px;
    height: 54px;
}

.left-part-1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 3fr);
    margin-right: 130px;
}

.grp228 {
    grid-column: 9 / -1;
    grid-row: 1;
    display: block;
    border: solid;
    padding: 20px;
    border-color: #00dbd081;
}

.grp195 {
    display: block;
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 0;
    z-index: 1;
}


/* Part 2 */

.part-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.grp114 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

.heading-part-2 {
    font-size: 36px;
    font-weight: normal;
    color: #374b5c;
    margin-bottom: 14px;
}

.desc-part-2 {
    font-size: 16px;
    font-weight: normal;
    color: #374b5c;
    margin-bottom: 80px;
}



.grp205-3,
.grp207-4 {
    margin-left: 30px;
}

.grp207-1 {
    margin-right: 30px;
}

/* Part 3 */

.part-3 {
    background-color: #fbfefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.heading-part-3 {
    font-size: 36px;
    font-weight: normal;
    color: #374b5c;
    margin-bottom: 14px;
}

.desc-part-3 {
    font-size: 16px;
    font-weight: normal;
    color: #374b5c;
    margin-bottom: 60px;
}

.grp64-2,
.grp55-3,
.grp64-4,
.grp39-5 {
    margin-left: 80px;
}

.dots-part-3 {
    padding-top: 60px;
    color: #374b5c;
    font-size: 35px;
}

.active-dot {
    color: #00dbd0;
}

/* Part 4 */

.part-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
}

.woman {
    width: 97.6px;
    height: 97.6px;
    margin: 30px 0 20px 0;
    border-radius: 100%;
}

.woman-name {
    font-size: 26px;
    font-weight: normal;
    color: #374b5c;
}

.stars {
    color: #00dbd0;
    font-size: 35px;
}

.desc-part-4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 2.5;
    color: #374b5c;
}

.dots-part-4 {
    font-size: 35px;
    color: #00dbd0;
}

.bg-img {
    position: absolute;
    overflow: hidden;
    right: 80%;
    top: 120%;
}

/* Part 5 */

.part-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.heading-part-5 {
    font-size: 36px;
    font-weight: normal;
    color: #374b5c;
    margin-bottom: 20px;
}

.desc-part-5 {
    font-size: 16px;
    font-weight: normal;
    color: #374b5c;
    margin-bottom: 65px;
}

.email {
    display: flex;
    margin-bottom: 140px;
}

.email-input {
    width: 400px;
    height: 69px;
    font-size: 18px;
    color: #374b5c;
    border: none;
}

.email-btn {
    border: none;
    height: 69px;
    width: 167px;
    border-radius: 30px;
    background-color: #00dbd0;
    font-size: 18px;
    color: #ffffff;
}

/* Part 6 */

.part-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.heading-part-6 {
    font-size: 36px;
    color: #374b5c;
    font-weight: normal;
    margin: 15px 0 20px 0;
}

.desc-part-6 {
    font-size: 16px;
    color: #374b5c;
    margin-bottom: 50px;
}

.blog-posts {
    display: flex;
}

.blog-img {
    height: 195px;
    width: 278px;
    border-radius: 15px;
    margin: 25px 25px 15px 25px;
}

.blog-heading {
    font-size: 18px;
    color: #00dbd0;
    margin-bottom: 10px;
}


.blog-desc {
    font-size: 14px;
    color: #374b5c;
    margin-bottom: 10px;
}

.read-more-blog {
    font-size: 14px;
    color: #374b5c;
    background-color: #ffffff;
}

/* Part 7/Footer */

.footer {
    padding: 50px 120px 0 120px;
    display: flex;
    background-image: url(assets/Group\ 229.png);
    width: 100%;
    height: 359px;
    padding-top: 100px;
}

.logo-desc {
    font-size: 14px;
    color: #ffffff;
    margin: 30px 0 30px 0;
}

.copyright-underline {
    border-top: solid;
    border-top-color: #00dbd0;
    padding-top: 15px;
}

.copyright {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.list {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.info-heading {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
    padding-left: 50px;
}

.underline {
    border-bottom: solid;
    border-bottom-color: #00dbd0;
    padding-bottom: 15px;
}

.info-ul-1 {
    display: flex;
    flex-direction: column;
}

.info-ul-2 {
    display: flex;
    flex-direction: column;
}

.info-list-item {
    font-size: 14px;
    color: #ffffff;
}

.social-media {
    margin: 0 0 0 230px;
}

.social-heading {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 35px;
}

.social-icons {
    display: flex;
}

.sm-icon {
    margin-right: 15px;
}